/* Pasek menu (header) */
header {
    position: fixed;             
    top: 0;
    left: 0;
    width: 100%;                
    background-color: #588157;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    box-sizing: border-box;
    z-index: 1000;              
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: opacity 0.2s;
}

header nav a:hover {
    opacity: 0.8;
}


body {
    background: #faf5f8;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 150px 20px 50px;
}




/* kontakt page */
.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1100px;
    width: 100%;
}

.contact-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.contact-left {
    margin-top: 40px; 
}


.contact-left h1 {
    color: #3a5a40;
    margin-bottom: 15px;
}

.contact-desc {
    color: #555;
    margin-bottom: 30px;
}

.contact-block {
    margin-bottom: 25px;
}

.contact-block h3 {
    color: #588157;
    margin-bottom: 8px;
}

.contact-block p {
    margin: 4px 0;
    font-size: 14px;
}

.contact-block a {
    color: #3a5a40;
    text-decoration: none;
}

.contact-right {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    background: #588157;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
}

.contact-form button:hover {
    background: #3a5a40;
}

/* mniej ekran */
@media (max-width: 900px) {
    .contact-page {
        grid-template-columns: 1fr;
    }

    .contact-info-grid {
        grid-template-columns: 1fr;
    }
}





/* stopka */
footer {
    background-color: #588157;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
}

footer a {
    color: #a3d2ca;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
