/*pasek menu (header) */
header {
    position:absolute;             
    top: 0;
    left: 0;
    width: 100%;                
    background-color: #588157;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    box-sizing: border-box;
    z-index: 1000;              
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: opacity 0.2s;
}

header nav a:hover {
    opacity: 0.8;
}

/* body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 120px 40px 40px; 
}

/*karta wstazki */

.wstazki-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  
}
.wstazki-card {
    background: #fff;
    border-radius: 15px;
    border: 2px solid #e86b5c ;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.wstazki-card input[type="radio"] {
   accent-color: #e86b5c;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* без выделения */
.wstazki-card input[type="radio"]:focus,
.wstazki-card input[type="radio"]:checked {
  outline: none;
  box-shadow: none;
}

.wstazki-card:hover {
    transform: scale(1.03);
}

.wstazki-card img {
    margin-top: 20px;
    width: 60%;
    height: 200px;
    object-fit: cover;
}

.wstazki-name {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    text-transform: uppercase;
    color: #333;
}



/*licznik */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}



/*kwota(sumary)*/

#total {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.subtotal {
    font-size: 16px;
    color: #444;
    margin-bottom: 15px;
}
.price {
    font-size: 15px;
    color: #777;
    margin-bottom: 5px;
}



.counter button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e86b5c;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.counter button:hover {
    background-color: #d45647;
}

.counter span {
    font-size: 18px;
    width: 30px;
    text-align: center;
}


/* info */
#selected-info {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  font-weight: 500;
  color: #444;
}

/* stopka */
footer {
    background-color: #588157;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
}

footer a {
    color: #a3d2ca;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
